<html>
    <body>
    <form action="/files" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="fw">firmware or manifest: </label>
    <input id="fw" name="firmware" type="file" value=""/>

    <input type="submit" value="submit"/>
    </form>

    <form action="/coap_send" method="post" accept-charset="utf-8">
    <table>
        <tr>
        <th></th><th>name</th><th>SHA1 truncated</th><th>size</th>
        </tr>
    {% for file in files %}
        <tr>
        <th><input type="radio" name="file" value="{{file.digest}}"></th>
        <th>{{ file.path.name }} </th>
        <th><a href = "{{ file.url }}">{{file.digest}}</th>
        <th>{{ file.path.stat().st_size }}B</th>
        </tr>
    {% endfor %}
    </table>

    <label for="target">CoAP URL</label>
    <input id="target" type="text" name="target"
    value="coap://target.host/local/part"><br>

    <label for="signed">Cose signed</label>
    <input id="signed" type="checkbox" name="signed"><br>
    <!-- document -->
    <input type="submit" value="submit"/>
    </form>
    </body>
</html>
